/* Start Root */
    :root{
        --main-color: #19c8fa; 
    }
/* End root  */
/* Start Global Rules  */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:0;
    margin:0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: darkgray;
 }

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small  */

@media (min-width:768px){
    .container {
        width: 750px;
    }
}

/* Medium */

@media (min-width: 992px){
    .container{
        width: 970px;
    }
}

/* Large */

@media (min-width:1200px){
    .container{
        width: 1170px;
    }    
}

/* End Global Rules  */

/* Start Header */

header {

    
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .container::after {
    content: "";
    position: absolute;
    background-color: brown;
    width: calc(100% - 40px);
    height: 1px;
    bottom: 0px;
    left: 30px;
}

header .container .logo img{
    height: 60px;
}

header nav {
    display:flex;
    flex:1;
    align-items: center;
    justify-content: flex-end;
}

header nav ul{
    display: flex;
}

header nav ul li a {
    padding: 40px 10px;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    position: relative;
    z-index: 1;
}

header nav ul li a.active,
header nav ul li a:hover{
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

header nav .form{
    width: 40px;
    height: 30px; 
    position: relative; 
    margin-left: 30px; 
    border-left: 1px Solid white;
}

header nav .form i {
    color: white;
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}





/* End Header */